<ul class="collapsible popout" data-collapsible="expandable">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">flight_takeoff</i>Background
    </div>
    <div class="collapsible-body">
      <%= render "work_colllection/laud-social/background_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">code</i>Meeting With Stakeholders and Designing the Tests
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/laud-social/planning_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">whatshot</i>Performing the Tests
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/laud-social/testing_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">build</i>Analyzing the Results
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/laud-social/analyzing_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">build</i>Results
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/laud-social/paper_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">build</i>Initial Digital Prototyping
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/laud-social/initial_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">build</i>The Final Result, a High Fidelity HTML Prototype
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/laud-social/final_body" %>
    </div>
  </li>
</ul>
