<ul class="collapsible popout" data-collapsible="expandable">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">flight_takeoff</i>Background
    </div>
    <div class="collapsible-body">
      <%= render "work_colllection/boeing/background_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">code</i>Software Development
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/boeing/software_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">whatshot</i>Program Management
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/boeing/management_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">build</i>Manufacturing Design
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/boeing/design_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">assessment</i>Manufacturing Research
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/boeing/research_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">lightbulb_outline</i>Patents/Publications
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/boeing/patents_body" %>
    </div>
  </li>
</ul>
