<div class="panel-group" id="registraraccordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="registrarheadingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#registraraccordion"
            href="#registrarcollapseOne" aria-expanded="true" aria-controls="registrarcollapseOne">
          Background
        </a>
      </h4>
    </div>
    <div id="registrarcollapseOne" class="panel-collapse collapse in"
          role="tabpanel" aria-labelledby="registrarheadingOne">
      <div class="panel-body">
        <%= render "work_colllection/registrar/background_body" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="registrarheadingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse"
            data-parent="#registraraccordion" href="#registrarcollapseTwo" aria-expanded="false"
            aria-controls="registrarcollapseTwo">
          A Look at the Original Website
        </a>
      </h4>
    </div>
    <div id="registrarcollapseTwo" class="panel-collapse collapse"
          role="tabpanel" aria-labelledby="registrarheadingTwo">
      <div class="panel-body">
        <%= render "work_colllection/registrar/before_body" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="registrarheadingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse"
            data-parent="#registraraccordion" href="#registrarcollapseThree"
            aria-expanded="false" aria-controls="registrarcollapseThree">
          User Research
        </a>
      </h4>
    </div>
    <div id="registrarcollapseThree" class="panel-collapse collapse"
          role="tabpanel" aria-labelledby="registrarheadingThree">
      <div class="panel-body">
        <%= render "work_colllection/registrar/research_body" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="registrarheadingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse"
            data-parent="#registraraccordion" href="#registrarcollapseFour" aria-expanded="false"
            aria-controls="registrarcollapseFour">
          Generating Personas
        </a>
      </h4>
    </div>
    <div id="registrarcollapseFour" class="panel-collapse collapse"
          role="tabpanel" aria-labelledby="registrarheadingFour">
      <div class="panel-body">
        <%= render "work_colllection/registrar/personas_body" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="registrarheadingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse"
            data-parent="#registraraccordion" href="#registrarcollapseFive" aria-expanded="false"
            aria-controls="registrarcollapseFive">
          Design/Paper Prototyping
        </a>
      </h4>
    </div>
    <div id="registrarcollapseFive" class="panel-collapse collapse"
          role="tabpanel" aria-labelledby="registrarheadingFive">
      <div class="panel-body">
        <%= render "work_colllection/registrar/paper_body" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="registrarheadingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse"
            data-parent="#registraraccordion" href="#registrarcollapseSix" aria-expanded="false"
            aria-controls="registrarcollapseSix">
          Initial Digital Prototyping
        </a>
      </h4>
    </div>
    <div id="registrarcollapseSix" class="panel-collapse collapse"
          role="tabpanel" aria-labelledby="registrarheadingSix">
      <div class="panel-body">
        <%= render "work_colllection/registrar/initial_body" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="registrarheadingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse"
            data-parent="#registraraccordion" href="#registrarcollapseSeven" aria-expanded="false"
            aria-controls="registrarcollapseSeven">
          The Final Result, a High Fidelity HTML Prototype
        </a>
      </h4>
    </div>
    <div id="registrarcollapseSeven" class="panel-collapse collapse"
          role="tabpanel" aria-labelledby="registrarheadingSeven">
      <div class="panel-body">
        <%= render "work_colllection/registrar/final_body" %>
      </div>
    </div>
  </div>
</div>
