<ul class="collapsible popout" data-collapsible="expandable">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">flight_takeoff</i>Background
    </div>
    <div class="collapsible-body">
      <%= render "work_colllection/registrar/background_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">code</i>A Look at the Original Website
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/registrar/before_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">whatshot</i>User Research
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/registrar/research_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">build</i>Generating Personas
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/registrar/personas_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">build</i>Design/Paper Prototyping
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/registrar/paper_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">build</i>Initial Digital Prototyping
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/registrar/initial_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">build</i>The Final Result, a High Fidelity HTML Prototype
    </div>
    <div class="collapsible-body container">
      <%= render "work_colllection/registrar/final_body" %>
    </div>
  </li>
</ul>
