<ul class="collapsible popout" data-collapsible="expandable">
  <li>
    <div class="collapsible-header">
      <div class="left"><i class="material-icons">info</i></div>
      <div>Background</div>
    </div>
    <div class="collapsible-body">
      <%= render "work_collection/laud-social/background_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <div class="left"><i class="material-icons">supervisor_account</i></div>
      <div>Meeting With Stakeholders and Designing the Tests</div>
    </div>
    <div class="collapsible-body">
      <%= render "work_collection/laud-social/planning_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <div class="left"><i class="material-icons">assignment</i></div>
      <div>Performing the Tests</div>
    </div>
    <div class="collapsible-body">
      <%= render "work_collection/laud-social/testing_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <div class="left"><i class="material-icons">bug_report</i></div>
      <div>Analyzing the Results</div>
    </div>
    <div class="collapsible-body">
      <%= render "work_collection/laud-social/analyzing_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <div class="left"><i class="material-icons">whatshot</i></div>
      <div>Results</div>
    </div>
    <div class="collapsible-body container">
      <%= render "work_collection/laud-social/results_body" %>
    </div>
  </li>
</ul>
