<ul class="collapsible popout" data-collapsible="expandable">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">info</i>Background
    </div>
    <div class="collapsible-body">
      <%= render "work_collection/registrar/background_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">remove_red_eye</i>A Look at the Original Website
    </div>
    <div class="collapsible-body">
      <%= render "work_collection/registrar/before_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">assessment</i>User Research
    </div>
    <div class="collapsible-body">
      <%= render "work_collection/registrar/research_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">face</i>Generating Personas
    </div>
    <div class="collapsible-body">
      <%= render "work_collection/registrar/personas_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">description</i>Design/Paper Prototyping
    </div>
    <div class="collapsible-body">
      <%= render "work_collection/registrar/paper_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">important_devices</i>Initial Digital Prototyping
    </div>
    <div class="collapsible-body">
      <%= render "work_collection/registrar/initial_body" %>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">whatshot</i>The Final Result, a High Fidelity HTML Prototype
    </div>
    <div class="collapsible-body">
      <%= render "work_collection/registrar/final_body" %>
    </div>
  </li>
</ul>
